h4{
    background-color: yellow;
    color: blue
/* it is used for running this file if all 3 css present inline external internal it gives the importance and run this external file */
    !important;
    
}

h5{
    background-color: aqua !important;
}