*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    width: 100vw;
    background-color: lightgray;
}

.container{
    height: 100%;
    width: 100%;
    display: grid;
    /* justify-items: center;
    align-items: center; */
    /* grid-template-columns:  ;
    grid-template-rows: repeat(2,1fr); */
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(4,1fr);
}
.item{
    border: 2px solid black;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    color: red;
    background-color: white;
}

.header{
    grid-column-start: 1;
    grid-column-end: 4;

}

.side{
    grid-row-start: 2;
    grid-row-end: 4;
}
.content1{
    grid-column-start: 2;
    grid-column-end: 4;
}

.footer{
    grid-column-start: 1;
    grid-column-end: 4;
}


