*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#image{
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

.card{

    border: 5px solid black;
    margin: 50px;
    display: flex   ;
 
   

}

.card-body{
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}