*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
    
}

body{
    background-color: grey;


}
article{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(4,1fr);

gap: 20px;
}

.nav,.footer{
    display: flex;
    border: 4px solid black;
    grid-column-start: 1;
    grid-column-end: 4;
    justify-content: center;
    align-items: center;
    height: 200px;
}

.nav-div{
    border: 5px solid red;
    height: 60%;
    width: 80%;

}

.div2{
    display: flex;
    align-items: center;
    justify-content: center;
   
}

.inside-div{
    border: 4px solid green;
width: 100%;
    height: 50%;
}

.content1{
    
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 4;
    border: 3px solid black;

}

.content2{
    grid-column-start: 2;
    grid-column-end: 4;
    border: 3px solid black;
}

.content3{
    grid-row-start: 3;
    grid-row-end: 4;
border: 3px solid black;
}


.footer-div{
     border: 5px solid red;
    height: 60%;
    width: 80%;

}